parameters:
    level: 8
    paths:
        - src
    excludePaths:
        - src/PrServiceProvider.php
    tmpDir: build/phpstan
    ignoreErrors:
        -
            identifier: missingType.iterableValue
